<div class="border border-4 text-white background" id="componente">
    <div class="row">
        <div class="col-11">
            <h2> Tecnologias </h2>
        </div>
        <div class="col-1">
            <button class="d-none d-md-block" (click)="nueva()">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </div>
    </div>

    <form class="row g-3 justify-content-md-center" id="agregar">
        <div class="row">
            <div class="col-md-4">
                <label for="inputEmail4" class="form-label">Nombre de tecnologia</label>
                <input type="text" class="form-control" size="30">
              </div>
              <div class="col-md-2">
                <label for="inputPassword4" class="form-label">Años de experiencia</label>
                <input type="number" class="form-control"size="30">
              </div>
        </div>
        <div class="row" style="margin-top: 10px;"> 
            <div class="col-8">
                <label for="inputAddress" class="form-label">url de logo</label>
                <input type="text" class="form-control" value="http://" size="50">
              </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-2">
                <button type="button" class="btn btn-primary">Agregar</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary">Cancelar</button>
            </div>
        </div>
      </form>

    <div class="row" id="tecnologias">
        <div *ngFor="let tecnologia of tecnologiaLista">
            <div class="col-1 text-center" id="foto"> 
                <h5>{{tecnologia.nombre}}</h5>
                <img class="rounded" 
                [src]="tecnologia.logo"
                height="50"/>
                <p> </p>
            </div>
        </div>
    </div>
</div>
