<p> header works! </p>

<div id="banner" class="border border-4 bg-dark text-white bg-opacity-90">
    <div id='div-img-portada' class="text-center">
      <img src ="../../../gatitos.jpg" class="img rounded img-fluid" id='img-portada'alt ="gatitos bebes">
    </div>
    <div id='div-persona' class="row">
      <div class="col-3">
        <div id='div-img-persona'> 
          <img src="../../../imagen.jpeg" class="img-fluid rounded-circle" id='img-persona'>
            <button type="button" class="btn btn-primary btn-sm d-none d-sm-block" id='cambiarFoto'>✏</button>
        </div>
      </div>
      <div class="col-9">
        <h2>Florencia Ñonquepan</h2>
        <h3>FullStack Developer Junior</h3>
        <button type="button" class="btn btn-primary"> Tengo interes en </button>
        <h2>Acerca de mi</h2>
        <p>
          Blablabla, blablablablabla, tilin, tilin, pppppppppsssssssssssssssssssssssss
        </p>
      </div>
    </div>
  </div>