#div-portada{
    position: relative;
}
#div-img-fondo{
    height: 400px;
}

#acerca-de{
    background-color: transparent;
}
#datos{
    text-align: left;
    margin-top:4%;
}
#img-portada{
    height: 400px;
}
#div-img-persona{
    position: relative;
    bottom:50px;
}
#cambiar-foto{
    margin-top:-5%;
    margin-left: 70%;
}

#cambiar-portada{
    position: absolute;
    bottom: 90%;
    left: 90%;
}

.links{
    padding: 0.75rem;
    border: 1px solid transparent;
    vertical-align: middle;
}

a{
    text-decoration: none;
}