#img-portada{
    width: 100%;
    height: auto;
    min-height: 300px;
    opacity: 0.2;
} 

@supports(object-fit: cover){
    #img-portada{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

#acerca-de{
    background-color: transparent;
    align-content: center;
}

.links{
    padding: 0.75rem;
    border: 1px solid transparent;
    vertical-align: middle;
}

a{
    text-decoration: none;
}