#img-portada{
    width: 80%;
    height: auto;
    opacity: 0.8;
} 

@supports(object-fit: cover){
    #img-portada{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

#acerca-de{
    background-color: transparent;
}
#datos{
    text-align: left;
}

#div-img-persona{
    position: relative;
    bottom:50px;
}
#cambiar-foto{
    margin-top:-5%;
    margin-left: 70%;
}

.links{
    padding: 0.75rem;
    border: 1px solid transparent;
    vertical-align: middle;
}

a{
    text-decoration: none;
}