
<div class="border border-4 text-white background">
    <h1> Experiencia </h1>
    <div *ngFor="let experience of experienceList">
        <div class='row'>
            <div class="col-2 text-center"> 
                <img class="rounded" 
                [src]="experience.img"
                height ="60" width="60"/>
                <p> {{experience.start}} {{experience.end}}</p>
            </div>
            <div class="col-10"> 
                <h3>{{experience.position}}</h3>
                <h4>{{experience.company}}</h4>
                <p>{{experience.tareas}}</p>
            </div>
        </div>
    </div>
</div>
