
<div class="border border-4 bg-dark text-white bg-opacity-90">
    <h1> Experiencia </h1>
    <p>Ingeniera de Procesos
        Relevamiento de Central Térmica Loma La Lata y elaboración de procedimientos de comisionado.
        Ingeniería básica de RCI para Revamp
        Magnaforming del Complejo Industrial La Plata.
        Simulación de planta de dew point al servicio de Tecpetrol en Fortin de Piedra.
        Verificación/ diseño de sistema de venteo mediante Aspen Flare System Analyzer para Unidad de Separación Primaria de Rincón del Mangrullo.
        Preparación de memorias de cálculo (verificación de bombas, de sistema de aire para instrumentos), verificación/ diseño de PSVs con HYSYS, seguimiento de entrega de ingeniería.</p>
    <p>Ingeniera en oficina técnica en CPF Sierras Blancas
        Revisión y control de documentos de ingeniería.
        Control de cambios del proyecto, elaboración de RFIs y FCRs.
        Requisición interna para compras de materiales. Asistencia técnica a supervisores.</p>
</div>
