/* You can add global styles to this file, and also import other style files */
#banner{
    position:relative;

  }

#div-img-portada{
    background-color: rgb(231, 182, 108);
}
#img-portada{
    max-height: 250px;
}
#div-persona {
    position: absolute;
    left: 2%;
    right: 2%;
    top:40%;
   
  }

#img-persona{
    max-height: 200px;
}

#AcercaDe{
    padding-top:7%;
}

#div-img-persona{
    position: relative;
}

#cambiarFoto{
    position: absolute;
    right:0;
    bottom:0;
}

