/* You can add global styles to this file, and also import other style files */

.background{
    background-color:#0B0B0B;
}

.font-title{
    font-family: 'Ubuntu', sans-serif;
}

.subtitle{
    font-family: 'Mulish', sans-serif;
    font-size: 1.25rem;
    color:#0DCAF0;
}
