
<div class="border border-4 text-white background">
    <h1> Educación </h1>

        <div *ngFor="let education of educationList">
            <div class='row'>
                <div class="col-2 text-center"> 
                    <img class="rounded" 
                    [src]="education.img"
                    height ="60" width="60"/>
                    <p> {{education.start}} {{education.end}}</p>
                </div>
                <div class="col-10"> 
                    <h3>{{education.school}}</h3>
                    <p>{{education.career}}</p>
                </div>
            </div>
        </div>

</div>