<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio Ñonquepan Florencia</title>
        <link rel="stylesheet" href="../styles.css">
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        
        
      <app-header> </app-header>
        <div id="banner">
          <div id='div-img-portada' class="text-center">
            <img src ="../gatitos.jpg" class="img-fluid rounded" id='img-portada'alt = "Mi descripción de imagen">
          </div>
          <div id='div-persona' class="row">
            <div class="col-4">
              <div id='div-img-persona'> 
                <img src="../imagen.jpeg" class="rounded-circle" id='img-persona'>
              </div>
              <div>
                <h2>Florencia Ñonquepan</h2>
                <h3>FullStack Developer Junior</h3>
                <button type="button" class="btn btn-primary"> Tengo interes en </button>
              </div>
            </div>
            <div class="col-8" id='AcercaDe'>
              <h2>Acerca de mi</h2>
              <p>
                Blablabla, blablablablabla, tilin, tilin, pppppppppsssssssssssssssssssssssss
              </p>
            </div>
            
          </div>
          
      </div>
        <div class="seccion">
            <h1> ..... </h1>
            
        </div>
        
        <div>
            <h1> Experiencia </h1>
        
        </div>
        
        <div>
            <h1> Educación </h1>
        
        </div>
    
        <div>
            <h1> Hard & Soft Skills </h1>
        
        </div>
    
    
        <div>
            <h1> Proyectos </h1>
        
        </div>
    
    
    </body>
    </html>
   
